<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LWTagsView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C9E076591D38B4FF00A10388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9E076721D38B4FF00A10388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9E0767D1D38B4FF00A10388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
